.carousel-item img{
    height: calc(100vh - 20vh);
    object-fit: cover;
}
.carousel-item div{
    top: 50%;
  

    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .carousel-item img{
        height: calc(100vh - 30vh);
    }
}
@media screen and (max-width: 767px) {
    .carousel-item img{
        height: calc(100vh - 60vh);
    }
}